body{
    background-color: rgb(239, 252, 249);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    
    overflow-x: hidden;
    
    
    
}


nav{
    text-align: right;
    /* margin-top: 3%; */
    width: 48%;
    margin-left: 47%;
    margin-top: -3%;
  
   
}

 .firstline{
     margin-left: 6%;
     margin-top: 3%;
     font-size: larger;
     color:rgb(59, 60, 78);
     font-weight: bolder;
    
   
}
nav ul li {
    list-style: none;
    display: inline;
    font-size: 20px;
    flex-direction:right;
     padding-right:6%;
     
    
    
    
}

nav ul li a{
    color:rgb(94, 92, 92);
    text-decoration: none;
    padding: 0px;
    
   
   
}

/*section 1*/
 /*.button p hfirstline{
   
}
.One{
    background-color: rgb(228, 247, 242);
    width: 100%;
    height: 100%;
    
}
.heading2{
    margin-right: 10%;
    font-size: 30px;
    color:rgb(29, 27, 27);
    padding-bottom: 90%;
    
    
}
h1{
    padding-bottom: 70%;
}
h4{
    padding-bottom: 90%;
}*/
 .content2{

  
    border: solid rgb(204, 228, 224);
   
     
    
    

 }/*
    
.content1{
    font-size: 20px;
    color:rgb(94, 92, 92);


    
    
}
.vet{
    color: orange;
    
}
.btn{
    width: 70px;
    height:40px;
    border: solid rgb(87, 226, 219);
    border-width: 100%;
    background-color:rgb(87, 226, 219) ;
}
.Two{
    background-color: rgb(239, 243, 243);
}
.line{
    image-width: 0px;
    height:1px;
}
p{
    padding-top:90%;
}*/


.heading2 {

    margin:5% 6%;
    border: solid transparent;
    width: 50%;
    height: 100%;
    margin-left: 6%;
    padding-bottom: 0%;
    margin-bottom: 10%;

}


.heading2 h5{
    color: orange;
    font-size: 15px;
    font-weight: bold;
    
}
.content2{
    
    border: solid rgb(204, 228, 224);
    width: 30%;
    height: 10%;
    border-width: 60px;
    border-radius: 50%;
    margin-left: 54%;
    margin-top:-38%;
    margin-bottom: none;
    
}


/*.first{
    margin: 0% -40% 0% 6%;
   margin-left: 6%;
   margin-bottom: 10%;
   border: solid transparent;
   display: flex;
  }
.first p{
    font-size: 20px;
    color:rgb(51, 163, 163) ;
    
}
.first h3{
    
}*/
.heading2 h1{
    font-size: 49px;
    color:rgb(59, 60, 78);
}

.heading2 p{
    font-size: 18px;
    color: rgb(99, 101, 131);
    
}

.heading2 button{
    width: 160px;
    height: 40px;
        background-color: rgb(51, 163, 163);
        border-radius: 14%;
        border:solid rgb(51, 163, 163);
        color: white;
        font-size:20px;
        padding-bottom: 2%;
}
button{
    color: white;
    font-size:18px;
    padding-top: 1%;
    
}
/*.triangle{
    background-color:transparent;
    width:0px;
    height:0px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 25px solid rgb(51, 163, 163);
    border-left:20px solid transparent;
    
    
    
    margin-left: 20%;
    }*/
    

.Two{
    border: solid transparent;
    background-color: rgb(248, 255, 253);
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

.Wedo p{
    font-size: 18px;
    color: rgb(99, 101, 131);
    font-weight: 400;
    margin-left:22%;
    border: solid transparent;
    margin-bottom: 5px;
    
   
    
}
.Wedo h2{
        
    color: rgb(59, 60, 78);
    font-weight: bolder;
    margin-left: 6%;
    font-size: 35px;
    

}

.Wedo{
    
    display: flex;
    border: solid transparent;
    margin-top: 6%;
    margin-bottom:6%;
    
    
    }

    
    
    
    .One{
        border: solid transparent;
        background-color: rgb(239, 252, 249);
        
    }

    .row1{
        
        border: solid transparent;
        display: flex;
        height: 300px;
        
        padding:5px;
    }

    .box1{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 6%;
        margin-right: 1%;
        
    }

    .box1 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top: 5%;
        

    }

    .box1 p{
        color:rgb(99, 101, 131);
        margin-left: 5%;

    }
    .box2{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 3%;
        
        

    }

    .box2 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top:5%;

    }

    .box2 p{
        color:rgb(99, 101, 131);
        margin-left: 6%;

    }

    .box3{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 4%;
        
    }

    .box3 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top:5%;

    }

    .box3 p{
        color:rgb(99, 101, 131);
        margin-left: 5%;

    }


    .row2{
        
        border: solid transparent;
        display: flex;
        height: 300px;
        
        padding:5px;
        margin-bottom: 6%;
    }

    .box4{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 6%;
        margin-right: 1%;
        
    }

    .box4 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top: 5%;

    }

    .box4 p{
        color:rgb(99, 101, 131);
        margin-left: 5%;

    }
    .box5{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 3%;
        
        

    }

    .box5 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top:5%;

    }

    .box5 p{
        color:rgb(99, 101, 131);
        margin-left: 6%;

    }

    .box6{
        border: solid white;
        background-color: white;
        width: 26%;
        height: 90%;
        margin-left: 4%;
        
    }

    .box6 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        padding-top:5%;

    }

    .box6 p{
        color:rgb(99, 101, 131);
        margin-left: 5%;

    }

    

   
    /*section three*/

    .section3 {
        margin-left: 60%;
        background-color: rgb(228, 247, 242);
        border: solid transparent;
        
    }
       .section3 h1{ 
           color:rgb(68, 65, 65);
    font-size: 40px;
     }
     .section3 h4{
        color:rgba(61, 67, 88, 0.733);
        font-weight: bold;
        font-size: 17px;

     }

     .text button{
        width: 160px;
    height: 60px;
        background-color: rgb(51, 163, 163);
        border-radius: 14%;
        border:solid rgb(51, 163, 163);
        color: white;
        font-size:20px;
        padding-bottom: 2%;
     }
     .vetyy{
        margin-left: 6%;
         border: solid transparent;
         display: flex;
         margin-right: 6%;
         margin-top: -7%;
         
     }
.text{
    width:98%;
    margin-left: 100px;
    margin-top: 10%;
    height:10%;
    

}
.text h1{
    color: rgb(59, 60, 78);
    font-weight: bolder;
    font-size: 35px;
}
.text h4{
    color:rgb(99, 101, 131);
        font-weight: 500;
        font-size: 17px;
}
.image{
    border: solid rgb(201, 230, 247);
    background-color:rgb(201, 230, 247);
    margin-top:14%;
}



    

     .Three{
         border: solid transparent;
         background-color:rgb(248, 255, 253);
     }

     .Theer{
         border: solid transparent;
         margin-bottom: 6%;
    }

     
    
        
    

   /* .section4 h3{
        color:rgb(37, 38, 61);
        margin-left: 5%;
        font-size: 22px;

    }

    .section4 p{
        color:rgba(61, 67, 88, 0.733);
        margin-left: 5%;
        font-size:20px;
        padding-top: 10px;

    }
    .section4 h1{
        color:rgb(68, 65, 65);
    font-size: 39px;
    margin-left: 5%;
 }
*/

 /*.section44{
    border: solid white;
    background-color: white;
    width: 50%;
    height: 90%;
    
    margin-left:55%;
    margin-bottom: 100%;
    
}

.section44 h3{
    color:rgba(61, 67, 88, 0.733);
    margin-left: 5%;
    font-size: 22px;
    font-weight: lighter;

}

.section44 p{
    color:rgba(61, 67, 88, 0.733);
    margin-left: 5%;
    font-size:20px;

}
.section44 h1{
    color:rgb(68, 65, 65);
font-size: 39px;
margin-left: 5%;
}*/


.row3{
    display: flex;
    
    margin-bottom:180px;
    margin-bottom: 13%;

}
.boxx{
    border: solid transparent;
    width:50%;
    background-color: white;
    height: 460px;

}

.boxx h3{
    color:rgb(37, 38, 61);
    margin-left: 14%;
    
    

}
/*.hp{
    margin-top:25%;
    
}*/




/*.ht{
    margin-top:25%;
}*/
.boxx p{
    font-size: 18px;
    color: rgb(99, 101, 131);
    font-weight: 400;
    margin-left: 14%;
    margin-bottom: 30%;
    
    

}

.boxy{
    border: solid transparent;
    width:50%;
    margin-left: 1%;
    background-color: white;
    height: 460px;
    margin-right:0%;
    
    
}
.boxy h3{
    color:rgb(37, 38, 61);
    margin-left: 14%;

}

.boxy p{
    font-size: 18px;
    color: rgb(99, 101, 131);
    font-weight: 400;
    margin-left: 14%;
    margin-bottom: 30%;
    
    

}
     
.rowtitle{
    display: flex;
    border:solid transparent;
    
}

.rowtitle h1{
    color: rgb(59, 60, 78);
    font-weight: bolder;
    font-size: 35px;
    margin-left: 6%;
    margin-bottom: 5px;

}
.rowtitle h3{
    font-size: 18px;
    color: rgb(99, 101, 131);
    font-weight: 400;
    margin-left: 17%;
    border: solid transparent;
    margin-top: 43px;
    
}
.title{
    color:rgb(37, 38, 61);
    font-size: 35px;
    margin-left: 4%; 
}
.title h1{
    
    color: rgb(59, 60, 78);
    font-weight: bolder;
    font-size: 35px;
    margin-left:4%; 
    padding-top: 4%;
    padding-bottom: 2%;
    
}
.Four{
    border: solid transparent;
    background-color: rgb(239, 252, 249);
    margin-top:-14%;
    margin-bottom: 5%;
}

.vets{
    border: solid transparent;
    display:flex;
    margin-bottom:10%;

    
    
}
.image1 {
    border: solid transparent;
    background-color: rgb(241, 234, 236);
    margin-left: 7%;
    height: 300px;
    
}

.image1 h3{
color:rgb(37, 38, 61);
font-weight: bolder;


}
.image1 h4{
    color:rgba(61, 67, 88, 0.733);
}
.image2 {
    border: solid transparent;
    background-color: rgb(220, 243, 240);
    
    margin-left: 7%;
    margin-right: 1%;
    height: 300px;
}
.image2 h3{
    color:rgb(37, 38, 61);
    font-weight: bolder;
    
}
.image2 h4{
    color:rgba(61, 67, 88, 0.733);   
}
.image3 {
    border: solid transparent;
    background-color: rgb(250, 236, 240);
    margin-left:6%;
    height: 300px;
    }

    .image3 h3{
        color:rgb(37, 38, 61);
        font-weight: bolder;
        
    }
    .image3 h4{
        color:rgba(61, 67, 88, 0.733);   
    }
.subscribe{
    background-color:rgb(239, 252, 249);
   
}
.sub{
    border: solid transparent;
    height:320px;
    background-color:rgb(228, 247, 242);
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 2%;
}

.titley{
    border: solid transparent;
    width:30%;
    margin-top:-20%;
    margin-left:35%;
    color:rgb(37, 38, 61);
}

.titley h1{
    
    color: rgb(59, 60, 78);
    font-weight: bolder;
    font-size: 35px;
}

.form-input{
    margin-left:22%;
    border: solid transparent;
    height:70px;
    width: 700px;
    background-color: white;
    border-radius: 3%;
    

}
.form-input p{
    margin-left: 5%;
    font-size: 20px;
    color: rgb(37, 38, 61);
    font-weight: 390;
    margin-bottom: -1%;
}
.button{
    border: solid rgb(51, 163, 163);
    background-color: rgb(51, 163, 163);
    width: 150px;
    height: 50px;
    margin-left: 76%;
    margin-top: -5%;
    border-radius: 5%;
}
.button h2{
    color: white;
    margin-left: 15%;
    margin-top:8%;
}

.details{
    display: flex;
    border: solid transparent;
    margin-top: 11%;
}

.location{
    margin-left:6%;
}
.location h3{
    color:rgb(37, 38, 61);
    font-weight: bolder;
}
.location p{
   color: rgba(61, 67, 88, 0.733); 
}
    
.pro{
    margin-left: 15%;
}
.pro h3{
    color:rgb(37, 38, 61);
    font-weight: bolder;
}
.pro p{
   color: rgba(61, 67, 88, 0.733); 
   
}

.pro2{
    margin-left:17%;
}
.pro2 h3{
    color:rgb(37, 38, 61);
    font-weight: bolder;
}
.pro2 p{
   color: rgba(61, 67, 88, 0.733); 
}

.pro3{
    margin-left: 15%;
    
}

.pro3 h3{
    color:rgb(37, 38, 61);
    font-weight: bolder;
}
.pro3 p{
   color: rgba(61, 67, 88, 0.733); 
}

.numbers{
    margin-left: 18%;
    margin-top: -30%;
   
    
}
.numbers p{
    color: rgb(99, 101, 131);
}

.stars2{
    margin-left: 14%;
    margin-top: -28%;
    color: orange;
    
    
}
.numbers2{
    margin-left: 19%;
    margin-top: -6%;
    font-size: 2px;
    
    
}
.numbers2 p{
    color: rgb(99, 101, 131);
}

.logos{
    display: flex;
    margin-right: 90%;
    
}

.fb{
    background-color: white;
    color:blue
}

.twitter{
    background-color:white;
    color: rgb(83, 190, 209);
    margin-left: 20px;
}
.Google{
    background-color: rgb(239, 252, 249);
    color: red;
    margin-left: 20px;
}
.LinkedIn{
    color:rgb(27, 121, 228);
    background-color: rgb(239, 252, 249);
    padding-left:20px;

    
}

.playIcon{
    display: flex;
color: rgb(21, 158, 158);
background-color: rgb(239, 252, 249);

margin-bottom: -12%;
padding-top: 5%;
}

.start{
    padding-left:3%;
    font-size: 41px;
    padding-bottom: 5%;

}

.quotex{
    font-size: 60px;
    color: rgb(193, 231, 231);
    margin-left: 12%; 
    margin-top: 11%;
}

.quotey{
    font-size: 60px;
    color: rgb(193, 231, 231);
    margin-left: 12%; 
    margin-top: 11%;
   
}
.cm{
    display: flex;
    color: rgb(73, 175, 175);
  
}

.cm h4{
    margin-left: 40%;
    margin-top: 9%;
}

.photo{
    border: solid rgb(142, 197, 221);
    width: 8%;
    background-color: rgb(142, 197, 221);
    border-radius: 50%;
    height: 1%;
    margin-top: 3%;
}
.name{
    margin-left: 2%;
}
.name p{
    margin-left:21%;
    margin-top:-4%;

}
.name h4{
    color:rgb(37, 38, 61);
    margin-bottom: 1%;
   

}
.comment{
    display: flex;
    margin-top: -25%;
    margin-left: 13%;
}

.icon1,.icon2,.icon3,.icon4,.icon5,.icon6 {
    padding:18px;
    border-radius: 50%;
    color:rgb(26,160,171);
    background-color:   rgb(233,250,252);
    width: 4%;
    margin-left: 7%;
    margin-top: 14%;
}




    







